@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#F7F7F5;
  --secondary-1:#FFA914;
  --secondary-2:#046C6D;
  --accent:#D4F571;
}
/* soryyyyyyyyyyyyyy param */
  /* edit trips page  */
/* PARAM: */
/* _______________________$$$$$$$$$$$$
___________________$$$$___________$$$$$
_______________$$$$___________________$$$$
_____________$$__________________________$$$
____________$______________________________$$
___________$$_______________________________$$
__________$$$$$___$$_______$$________$$$_____$
_________$$____$$$$$$$$$$$$$$$___$$$$$_$_____$
________$$____________________$$$$_____$_____$
_______$$_____________________________$______$
_______$$___$$___________________$$___$$_____$
_______$$__$$$$_________________$$$$____$$__$
_______$$_$__$$________________$$___$____$__$
____$$$$$_____$$_____________$$__________$_$
__$$$__$$______$$___________$$___________$_$
_$$____$________$$________$$____________$__$$$$
_$______________________________________$_$$___$
$_____$____$$$$$$_________$$$$$$$$_____$$_$_____$
$____$$_______$$$$_______$$$$__________$_$$_____$
$____$______________$__________________$_$______$
$____$_____________$__________________$$_$______$
_$___$____________$___________________$_$$_____$$
_$$_$$___________$______$_____________$$$______$
__$$$___________$________$____________________$
___$$__________$________$____________________$
____$__________$$____$$$$___________________$
____$________$$_$$$$$___$$$$_______________$
____$_______$$____________$$$______________$
____$_____$$$$$$$$$$$$$$$$$$$$$____________$
____$____$$__________________$$____________$
____$___________$$$________________________$
____$________$$$___$$$____________________$$
____$____________________________________$$
____$___________________________________$$
____$_________________________________$$$
____$______________________________$$$$
____$__________________________$$$$$
____$________________________$$$$
____$______________________$$$
____$____________________$$$
_____$$_____________$$$$$$
______$$$$$$$$$$$$$$$$ */

.Arealcontainer{
  display: inline-block;
}  
.Acontainer{
  position: relative;
  width: 300px;
  height: 300px;
  display: inline-block;
}
.imageee {
  opacity: 1;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Atext {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.Amiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #04AA6D;
  padding: 10px,10px;
}

.Acontainer:hover .imageee{
  opacity: 0.3;
}

.Acontainer:hover .Amiddle{
  opacity: 1;
}
 /* edittrips page */
.row {
  display: flex;
}
.column {
  display: flex;
}
.column img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* soryyyyyyyyyyyyyy param */




 .review img,video{
   width: 350px;
   height:350px;
   display: flex;
 }

.App{
  width: 100%;
  /* max-width: 1440px; */
  background-color:var(--primary) ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,textarea{
  margin: 1rem 0 1rem 0;
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  padding: 0.5rem;
  background: #e1e1e1;
}
input:focus-visible, textarea:focus-visible, select:focus-visible{
  outline-color: #9d9d9d;
}
::-webkit-scrollbar{
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  margin: 0.5em;
  border-radius: 100vh;
  background-color: #00000022;
}
::-webkit-scrollbar-thumb{
  border-radius: 100vh;
  background-color: #00000055;
}

@supports (scrollbar-color: #00000055 #00000022){
  *{
    scrollbar-color: #00000055 #00000022;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gallery, .tripPage{
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 20px;
}

.navbar{
  z-index: 5;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0;
}
.card {
  margin: 8px;
  /* max-width: 205px;
  height: 245px; */
  width: 90%;
  height: 0px;
  padding-bottom: 130%;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.6);
  /* overflow: hidden; */
  border-radius: 20px;
  transition: scale 50ms ease-in-out ;
  overflow: hidden;

}
#one.card{
  position: relative;
  top: -5px;
  animation: circle1 12s linear infinite  ;
  -webkit-animation: circle1 12s linear infinite ;
  -moz-animation: circle1 12s linear infinite ;
  -o-animation: circle1 12s linear infinite ;
}
#two.card{
  position: relative;
  bottom: -5px;
  animation: circle2 12s linear infinite  ;
  -webkit-animation: circle2 12s linear infinite ;
  -moz-animation: circle2 12s linear infinite ;
  -o-animation: circle2 12s linear infinite ;
}
#three.card{
  position: relative;
  top: -5px;
  animation: circle3 12s linear infinite  ;
  -webkit-animation: circle3 12s linear infinite ;
  -moz-animation: circle3 12s linear infinite ;
  -o-animation: circle3 12s linear infinite ;
}
.card-grid a p {
  color: var(--secondary-1);
}
.card-grid__link__hover:hover{
  transform: scale(1.1);
  z-index: 2;
}

.blog-preview-card {
  /* max-width: 205px;
  height: 245px; */
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.6);
  padding: 2rem;
  background-image: none;
  /* background-image: url(https://picsum.photos/200/300);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  border-radius: 20px;
  overflow: hidden;
}
.blog-preview-card.non-featured.v1{
  grid-template-columns: 30% 70%;
  /* margin: 1rem; */
  width: 500px;
  height: 300px;
}
.blog-preview-card.featured{
  padding: 0;
  height: 300px;
  min-width: 500px;
  background-image: none;
}
.blog-preview-card.featured > .bg {
  z-index: -2;
}

.gradient{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient( #00000000, #00000088);
  transform-origin: 50% bottom 0;
  transform: rotate(45deg)
  translateX(-26%)
  translateY(56%)
    ;
}
.blog-preview-card.non-featured{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0;
  height: 500px;
  min-width: 100%;
  background-image: none;
}
.card > p{
  color: #fff;
  padding-top: 120%;
}
.section{
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  min-height: calc(100vh - 60px);
  /* background-image: url(https://picsum.photos/1440/1080); */
  background-repeat: no-repeat;
  /* background-color: var(--primary);
color: var(--secondary-1); */
}
.section p{
  color:var()
}
.section.faq{
  /* display: block; */
min-height: calc(100vh - 180px);
}
.section.hero{
display: grid;
grid-template-columns: 40% 55%;
column-gap: 5%;
}
.hero{
/* background-color: var(--primary);
color: var(--secondary-1); */
}
.section button{
  /* background-color:var(--secondary-2);
  color: var(--accent); */
}
#learn-more-btn{
  border: solid var(--secondary-2) 2px;
  background-color:#00000000;
  color:var(--secondary-1)
}
.faq-link{
  transition: all 0.2s ease-in-out ;
}
.faq-link:hover{
  transform: scale(1.1) rotate(-4deg) ;
}
.content{
  width: 100%;
}
.gallery-preview{
  height: 0;
  padding-bottom: min(100%, 550px);
  width: min(100%, 550px);
  border-radius: 20px;
  transform: rotate(-4deg);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.6);
  background-image: url(https://picsum.photos/500/500);
  background-size: cover;
  animation: circle1 12s linear infinite;
  -webkit-animation: circle1 12s linear infinite;
  -moz-animation: circle1 12s linear infinite;
  -o-animation: circle1 12s linear infinite;
}
.card-grid{
display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
}
.blog{
  /* width: min(1000px,100%); */
  /* width: 100%; */
  min-height: calc(100vh - 60px);
}
.packages.btn:hover .package-list{
visibility: visible;
pointer-events: auto;
}
.packages.btn:hover{
  background: #00000088;
}
.profile-img{
  box-shadow: 2px 2px 6px 0px #00000088 ;
}
.p-box-shadow{
  box-shadow: 0 5px 6px 2px #00000088 ;
}
.p-box-shadow-2{
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.6);
}
.trips{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.trip-card{
  position: relative;
  height: max-content;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 3px 6px 0px #00000088 ;
}
#mobile-menu{
transform: translateY(-100%);
transition: all 200ms ease-in-out;
}










/* Some extra shit added by naman */

.namans-textarea {
  border: none;
  overflow: auto;
  outline: none;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* ******************************************************************************************MEDIA QUERIES */
  @media only screen and (max-width: 800px) {
  
  .navbar{
    display: none;
  }
}
  
@media only screen and (min-width : 650px) and (max-width: 800px) {
.trips{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
}
@media only screen and (min-width : 330px) and (max-width: 650px) {
.trips{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
}
@media only screen and (max-width: 330px) {
.trips{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
}
/* ******************************************************************************************MEDIA QUERIES */











/* Param's css continues */
/* ******************************************************************************************MEDIA QUERIES */
@media only screen and (max-width: 992px) {

.section{
  padding: 60px 0.5rem 2rem 0.5rem;

}
.section.hero{
  display: grid;
  grid-template-columns: auto;
  padding: 6rem 0rem 2rem 0rem;
  /* grid-template-rows: auto auto; */
}
.section.faq{
  grid-template-columns: auto;
  padding: 2rem 0.5rem 2rem 0.5rem;
}
.card{
  margin: 15px;
}
.footer{
  height: 60px;
}
}

@media only screen and (max-width: 800px) {

.section.gallery{
  grid-template-columns: auto;
}
.gallery-preview{
  width: max(300px, 60%);
  padding-bottom: max(300px,60%);
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(3,250px);
  overflow-x: auto;
}
.gallery{
  grid-template-columns: auto;
}
.blog-preview-card.featured{
  min-width: 300px;
  height: 180px;
}
.card{
  animation: none;
  /* margin: 20px; */
  width: 221.95px;
  padding-bottom: 320.61px;
  box-shadow: 0 0 4px 0px #00000088;
}
}
@media screen and (max-width: 450px) {
  .blog-preview-card.non-featured.v1{
    margin: 0px;
    height: 500px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
  }
}

/* *****************************************************  keyfrmaes */

    @keyframes circle1 {
      from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
      to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
      }
      @-webkit-keyframes circle1 {
        from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
        to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
        }
        @-moz-keyframes circle1 {
  from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
  to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
  }
@-o-keyframes circle1 {
  from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
  to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
  }

  @keyframes circle2 {
    from {-webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) ;}
    to {-webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) ;}
    }
    @-webkit-keyframes circle2 {
      from {-webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) ;}
      to {-webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) ;}
      }
      @-moz-keyframes circle2 {
from {-webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) ;}
to {-webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) ;}
}
@-o-keyframes circle2 {
from {-webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) ;}
to {-webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) ;}
}

@keyframes circle3 {
  from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
  to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
  }
  @-webkit-keyframes circle3 {
    from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
    to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
    }
    @-moz-keyframes circle3 {
from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
}
@-o-keyframes circle3 {
from {-webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg) ;}
to {-webkit-transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;}
}