@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  width: 100%;
  /* max-width: 1440px; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,textarea{
  margin: 1rem 0 1rem 0;
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  padding: 0.5rem;
  background: #e1e1e1;
}
::-webkit-scrollbar{
  height: 0.75rem;
  width: 0.75rem;
}
::-webkit-scrollbar-track{
  margin: 0.5em;
  border-radius: 100vh;
  background-color: #00000022;
}
::-webkit-scrollbar-thumb{
  border-radius: 100vh;
  background-color: #00000055;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gallery{
  display: grid;
  height: 90vh;
  grid-template-columns: 65% 35%;
  box-shadow: 0 4px 8px 0px #00000088;
  border-radius: 20px;
}

/* .gallery{
  display: block;
  
}
.gallery img{
  width: 250px;
  height:250px;
  object-fit:cover;
}
.gallerysub{
  display:flex
} */

.navbar{
  z-index: 5;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0;
}
.card {
  margin: 8px;
  /* max-width: 205px;
  height: 245px; */
  width: 90%;
  height: 0px;
  padding-bottom: 130%;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  background-image: url(https://picsum.photos/200/300);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}
.blog-preview-card {
  /* max-width: 205px;
  height: 245px; */
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  padding: 2rem;
  background-image: none;
  /* background-image: url(https://picsum.photos/200/300);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  border-radius: 20px;
  overflow: hidden;
}
.blog-preview-card.non-featured.v1{
  margin: 1rem;
  min-width: 500px;
  width: 500px;
  height: 300px;
}
.blog-preview-card.featured{
  padding: 0;
  height: 300px;
  min-width: 500px;
  background-image: none;
}
.blog-preview-card.featured > .bg {
  z-index: -2;
}

.gradient{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient( #00000000, #00000088);
  transform-origin: 50% bottom 0;
  transform: rotate(45deg)
  translateX(-26%)
  translateY(64%)
  ;
}
.blog-preview-card.non-featured{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0;
  height: 500px;
  min-width: 100%;
  background-image: none;
}
.card > p{
  color: #fff;
  padding-top: 120%;
}
.section{
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  min-height: calc(100vh - 60px);
  /* background-image: url(https://picsum.photos/1440/1080); */
  background-repeat: no-repeat;
}
.section.faq{
  /* display: block; */
min-height: calc(100vh - 180px);
}
.faq-link{
  transition: all 0.2s ease-in-out ;
}
.faq-link:hover{
  transform: scale(1.1) rotate(-4deg) ;
}
.content{
  width: 100%;
}
.gallery-preview{
  height: 0;
  padding-bottom: min(100%, 550px);
  width: min(100%, 550px);
  border-radius: 20px;
  transform: rotate(-4deg);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.6);
  background-image: url(https://picsum.photos/500/500);
  background-size: cover;
}
.aaa{
  height: 300px;
  /* padding-bottom: 100%; */
}
.datas-preview{
  height: 100%;
}
.card-grid{
  /* width: clamp(300px,50%,680px); */
}
.blog{
  /* width: min(1000px,100%); */
  width: 100%;
  min-height: calc(100vh - 60px);
}
.packages.btn:hover .package-list{
visibility: visible;
pointer-events: auto;
}
.packages.btn:hover{
  background: #00000088;
}
.profile-img{
  box-shadow: 2px 2px 6px 0px #00000088 ;
}
.p-box-shadow{
  box-shadow: 0 5px 6px 2px #00000088 ;
}
.trips{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.trip-card{
  position: relative;
  height: max-content;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 3px 6px 0px #00000088 ;
}